* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
  text-align: left;
}

header{
  padding: 20px;
  background-color: black;
  color: white;
}

.main-div {
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.inner-div {
  width: 65%;
  border-radius: 3px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:beige;
  box-shadow: 10px 10px 8px #888888;
}

.button {
  width: 65%;
  border-radius: 3px;
  ;
  background-color: black;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: x-small;
  box-shadow: 10px 10px 8px #888888;

}

.inner-div h2 {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 10px 0 40px 0;
}

.inner-div li {
  font-size: 1.5rem;
  margin-top: 1.0rem;
  list-style: none;
}

.head {
  background-color: black;
  color: white;
  padding: 30px;
}

input {
  cursor: pointer;
}


#Next {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 15px 32px;
  border-radius: 3px;
  margin-right: 320px;
  font-size: 15px;
  text-align: center;
}

#Previous {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 15px 32px;
  border-radius: 3px;
  margin-right: 325px;
  margin-left: 20px;
  font-size: 15px;
  text-align: center;
}

#submit {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 15px 32px;
  border-radius: 3px;
  margin: 10px;
  margin-right: 20px;
  font-size: 15px;
  text-align: center;
}


#Next:hover {
  background-color: green;
}

#submit:hover {
  background-color: green;
}

#Previous:hover {
  background-color: green;
}


#progressBar {
  width: 100%;
  border: 4px solid green;
  margin-bottom: 25px;
}

#progressBarFull {
  height: 40px;
  background-color: green;
  width: 0%;
}